{% load static %}

<html>
   <head>
        <title>Ilyha's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic"
              rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   </head>
   <body>
        <div class="pageHeader">
            {% if user.is_authenticated %}
                {% if user.is_staff_member %}
                <li class="top-menu" >
                <a class="top-menu" href="{% url 'post_new' %}">
                    <span class="glyphicon glyphicon-plus"></span></a></li>
                {% endif %}
                <li class="top-menu"><a href="{% url 'logout'%}?next={{request.path}}" class="top-menu">Logout</a></li>
            <p class="top-menu">User: {{ user.get_username }}</p>
            {% else %}
                <a class="top-menu" href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %}
            <h1><a href="/">Django Learning Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
   </body>
</html>