{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
     <div class="post">
            <div class="date">
                Опубликовано: {{ post.published_date }}
                Просмотры: {{ post.views }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <div class="random-posts">
      <div class="random-posts__title">
        3 случайные записи:
      </div>
      <div id="random-posts" class="random-posts__c"></div>
    </div>

    <script>
      fetch('/example-api/posts/?type=random')
        .then(response => response.json())
        .then(response => {
          console.log('response')
          console.log(response)

          let body = '<ul>'

          response.data.forEach((el) => {
            body += `
              <li>
                <a href='${el.url}'>${el.title}</a>
              </li>
            `
          })

          body += '</ul>'

          document.getElementById('random-posts').innerHTML = body

        })
    </script>
{% endblock %}