<html>
     <head>
        <title>Ilyha's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django-learning Blog</a></h1>
        </div>

        <div>
            <p>published: 07.05.2022, 3.35</p>
            <h2><a href="">My first post</a></h2>
            <p>Just made this site site on django. Right now its kinda blank, but im working on it.</p>
            </div>
            <br>
            <div>
            {% for post in posts %}
                <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>